doctype html
html(lang='en')
	head
		title Search Database
		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		style body { padding-top:50px; }
	body
		div.container
			div.jumbotron
				h2
					a(href='//127.0.0.1:3000')
						p	Homepage
					p	Search Database (#{results.length} results)
					p
				each result in results
					div.panel.panel-default
						div.panel-body
							p IMO: #{result.IMO}
							p Name: #{result.Name}
							form(action='/ship/view-detail' method='get')
								input(type = 'hidden' value= "#{result.IMO}" name = 'IMO')
								input(type = 'hidden' value= "#{result.Name}" name = 'Name')
								input(type = 'submit' value= 'View detail >>')